div.inside-banner {
    background-color: rgb(212, 215, 230)
}
.pull-right {
    float: right!important;
    margin-top: 21px;
}
.h2, h2 {
    -webkit-text-fill-color: rgb(15, 15, 163);
    text-shadow: 2px 2px 5px rgb(175, 128, 212);
    margin-left: -106px;

}