div.inside-banner {
    background-color: rgb(212, 215, 230);
    height: 126px;
}

.h2, h2 {
    -webkit-text-fill-color: rgb(15, 15, 163);
    text-shadow: 2px 2px 5px rgb(175, 128, 212);
    margin-left: -106px;
    text-align: center;
    font-size: 79px;

}
div.card {
    box-shadow: 0 5px 15px  rgb(20, 20, 110);
    border: 2px solid green;
    width: 429px;
    height: 479px;
    margin-left: 18px;

}
.form-control {
    display: block;
    width: 61%;
    height: 34px;
    padding: 17px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid rgb(64, 224, 77);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    margin-left: 89px;
}
h5 {
    margin-left: 126px;
}
input.btn.btn-info {

}