div.inside-banner {
    background-color: rgb(212, 215, 230);
    height: 126px;
}

.h2, h2 {
    -webkit-text-fill-color: rgb(15, 15, 163);
    text-shadow: 2px 2px 5px rgb(175, 128, 212);
    margin-left: -106px;
    text-align: center;
    font-size: 79px;

}


button.service-responsive3 {
    background: rgb(55, 129, 55);
    color: white;
    border-radius: 22px;
}